/* Footer */

.footer {
  background-color: #292c2f;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem; }
  .footer p.slogan {
    color: #8d9093;
    font-size: 1.8rem;
    margin: 0 0 1rem; }
  .footer p.copywrite {
    color: #8f9296;
    font-size: 0.875rem;
    margin: 0; }
  .footer .links a {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 3rem 0 2rem;
    margin: 0; }
    .footer .links a::after {
      content: "•";
      padding: 0 0.4rem 0 0.8rem; }
    .footer .links a:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem; }


/* tabovi inline o teri i biosu */

.tabs-title {
  display: inline-block;
  float: none; }


/* border na partnerima */
.item-wrapper {
  padding: 20px;
  border: 2px solid #efefef;
  border-radius: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.item-wrapper:hover .img-wrapper img {
  -webkit-filter: grayscale(0);
}
.item-wrapper:hover .img-wrapper .add-to-cart {
  bottom: 0;
}


.img-wrapper {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}
.img-wrapper .add-to-cart {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: #333;
  padding: 16px 8px;
  bottom: -50px;
  position: absolute;
  z-index: 2;
  color: #fff;
  margin: 0 auto;
  border: none;
  box-shadow: none;
}

.img-wrapper .add-to-cart:hover {
  background-color: #008cba;
}
.img-wrapper img {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-filter: grayscale(1);
  width: 100%;
}

.callout {
    background-color: #1a80b6; 
    color: #ffffff;"
    
  }
 
.menu li {
    padding-top: 5px;
  }
  
.menu-centered {
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
  }

.menu li{
	border-top: 4px solid transparent;
}
.menu li:hover{
	border-top: 4px solid #1a80b6;
	text-decoration: underline;	
}

.menu li a {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #747474;
  }
/* uredivanje slike preko id-a */
#slika1{
	border-radius:50%;
}
/* uredivanje paragrafa preko id-a */
#h{
	text-decoration: underline;
}
